 <div class="center hero-unit">
    <h1>欢迎来到北京计量院</h1>

    <h2>
      <a href="http://www.bjjl.cn/zhuyet.asp?zyname=zhuyet">华北国家计量测试中心 </a>
      
    </h2>

    <%= link_to "现在注册!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
