<footer class="footer">
  <small>
    <a href="http://www.bjjl.cn/">北京计量院</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于",   about_path %></li>
      <li><%= link_to "联系我们", contact_path %></li>
      <li><a href="http://www.bjjl.cn/">新闻</a></li>
    </ul>
  </nav>
</footer>
